<div class="navbar block">
  <div class="nav-item">
    <div class="press">
      <a href="#">
        Press
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div class="videos">
      <a href="#">
        Tour
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div class="music">
      <a href="#">
        Music
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div class="bio">
      <a href="#"> 
        Bio
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div class="videos">
      <a href="#">
        Videos
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div class="shop">
      <a href="#">
        Shop
      </a>
    </div>
  </div>
</div>