<div class="sidenav sidenav-closed block">
  <div class="nav-item">
    <div>
      <a href="#">
        Press
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div>
      <a href="#">
        Tour
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div>
      <a href="#">
        Music
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div>
      <a href="#"> 
        Bio
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div>
      <a href="#">
        Videos
      </a>
    </div>
  </div>
  <div class="nav-item">
    <div>
      <a href="#">
        Shop
      </a>
    </div>
  </div>
</div>